! templates/bgp_evpn.j2
#jinja2: trim_blocks: False
#jinja2: lstrip_blocks: False

{% set bgp_as = bgp.bgp_as %}

{# pull in any missing default parameters for bgp networks by updating
{# the default dictionary with the input dictionary, then assigning
{# it back to the bgp network variable #}
{% set dump = evpn_defaults.update(item) %}
{% set evpn = evpn_defaults %}

{% set state = vlan.state %}

{# get the current router bgp config block #}
{% set bgp_block = _eos_config | config_block("router bgp %s" % bgp_as, indent=3) %}

{# enter the bgp configuration block #}

router bgp {{ bgp_as }}

{% if state == 'absent' %}
   {# remove the vlan if it exists #}
   {% if "vlan %s" % (vlan.id) in bgp_block#}

   no vlan {{ vlan.id }}

   {% endif %}

{% elif state == 'present' %}
   {# add the vlan #}
   vlan {{ vlan.id }}
      {# add the rd if defined #}
      {% if vlan.rd is definied %}

      rd {{ vlan.rd }}

      {% else %}

      no rd 

      {# add the route-target if defined #}
      {% if vlan.route_target is definted %}

      route-target {{ vlan.route-target }}

      {% else %}

      no route-target 
       
      {# add in redistribute learned if defined #}
      {% if vlan.redistribute %}
      
      redistribute learned 
 
      {% else %}
      no redistribute learned



